@font-face {
    font-family: "Source code pro";
    src: url("font/source-code-pro/SourceCodeVF-Upright.ttf.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

#container {
    background-color: white;
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

header {
    flex-basis: 200px;
    flex-grow: 1;
    background-image: url(img/black_rock.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 6px;
}

h1 {
    margin: auto;
    font-family: "Source code pro";
    font-size: 1.2rem;
    font-weight: normal;
    align-self: center;
}

header p:last-of-type {
    font-size: 0.5rem;
}

label {
    display: flex;
    flex-direction: column;
    color: grey;
    text-transform: uppercase;
    font-size: 0.62rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 4px;
}

#content {
    margin: 40px;
    padding: 40px;
    background-color: white;
    flex-basis: 500px;
    flex-grow: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#content p {
    padding: 10px 0;
}

#intro {
    font-size: 1.2rem;
}

span {
    font-size: .8rem;
    color: lightgray;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 50px;
    padding: 20px 0px;
}

label > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input {
    width: 100%;
}

input::placeholder {
    color: lightgray;
}

label div input:valid + span {
    color: rgb(10, 197, 10);
}

button {
    border: none;
    border-radius: 4px;
    width: 90px;
    height: 38px;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
}

input {
    border: solid 1px lightgray;
    border-radius: 3px;
    height: 25px;
}

button:hover {
    background-color: rgb(76, 129, 129);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 500px) {
    #container {
        flex-direction: column;
    }
  }
